# Ignore build and compiler outputs
**/bin/
**/obj/
**/out/
**/obj/
bin/
obj/
out/
/obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.vsp

# Ignore DLLs and NuGet packages
*.dll
*.exe
*.pdb
*.nupkg
*.log

# Ignore coverage results and testing files
*/TestResults/
TestResults/
*.coverage
*.coveragexml

# Ignore configuration and environment files
appsettings.*.json
.env

# Ignore Visual Studio Code workspace settings
.vscode/
